*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none ;
    list-style: none;
}

body{
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-color:#111111;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  }

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 20px;
    overflow: hidden;
    width: 100%;
  }


h1{
    color: #EEEEEE;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 150%;
}

h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
}

h3{
    color: #EEEEEE;
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
}

h4{
  color: #EEEEEE;
  font-weight: 600;
  font-size: 18px;
}

h5{
  color: #888888;
  font-weight: 400;
  font-size: 16px;
}



p{
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;

}

button{
  font-size: 16px;
  font-weight: 300;
  border: 1.5px solid #888888;
  border-radius: 100px;
  background-color: transparent;
  color: #EEEEEE;
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
  width: max-content;
}

.gradiente{
  background-color: #CDF576;
  background: linear-gradient(45deg, #D4F575, #68ED66);
	/* background: linear-gradient(45deg, #c3f753, #6ee58e, #5072ee, #7c85ec, #5072ee, #6ee58e); */
	background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.color_letra{
  color: #EEEEEE;
}


/* Header */

.header{
    height: 80px;
    width: 100%;
    position: absolute;
    background-color:#111111;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
    top: 0px;
    left: 0;
    z-index: 1;
    transition: all 200ms ease-out;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto; 

}

.nav-logo{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    font-size: 20px;
    font-family: Roboto Slab;
    font-weight: 600;
  }
  
  .nav-logo a{
    display: flex;
    flex-direction: row;
    width: max-content;
  }

  .asim{
    position: relative;
    color: #eeeeee;
  }
  
  .etric{
    position: relative;
    color: #eeeeee;
  }

  .img-logo{
    padding: 0px;
    height: 20px;
  }
  
  .nav-menu{
    flex-direction: column;
    margin-right: 20px;
    background-color: #0b0b0b;
    position: fixed;
    top:80px;
    left:0;
    width: 100%;
    align-items: center;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
    left: 0%;
    transition: left 0.3s;
  }
  
  .nav-menu-item{
    padding: 30px;
    font-size: 20px;
    text-align: center;
  }


  .nav-toogle{
    display: block;
  }

  .nav-toogle i{
    font-size: 30px;
  }

  .nav-menu_visible{
    left:100%;
  }

  .nav-toogle:focus:not(:focus-visible){
    outline: none;
  }

.nav-toogle{
    background:none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
}

/* Hero */

.hero{
    width: 100%;
    margin-top: 80px;
    background-color:#111111;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
  }

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: auto;
    height: calc(100vh - 160px);
}

.hero-container-texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero-container-texto button{
  border: 2px solid #9AFD37;
  margin: 40px 0;
}

.hero-container-bottom{
  display: flex;
  justify-content: space-between;
}

.hero-especialidades{
  display: flex;
  justify-content: left;
}

.blink{
  -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}


/* Descripcion */

.descripcion{
    width: 100%;
    background-color:#111111;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
  }

.descripcion-container-texto h3{
  margin-bottom: 50px;
}

.descripcion-container-texto button{
  margin: 50px 0;
}

.descripcion-container-texto i{
  margin-left: 20px;
}

/* Servicios */

.servicios{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 250px;

}

.servicios-container h2{
  margin-bottom: 50px;

}

.carrousel{
  overflow: hidden;
}

.lista-servicios{
  display: flex; 
  flex-direction: column;
}


.card-servicio{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.card-servicio img{
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.card-servicio h4{
  margin-bottom: 10px;
}

.card-servicio p{
  font-size: 16px;
}

/* Proyectos */

.proyectos{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; 
  margin-bottom: 200px;
}

.proyectos h2{
  margin-bottom: 50px;
  text-align: center;
}


.proyecto-tipo{
  overflow: auto;
  margin-bottom: 50px;
}

.proyecto-tipo-item{
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.proyecto-tipo-item:last-child{
  margin-right: 0px;
}

.proyecto-tipo-link{
  cursor: pointer;
  transition: all 100ms ease-in;
}

.proyecto-tipo-link_active{
  color: #555555;
  background-color: #EEEEEE;
  border-color: #EEEEEE ;
}
.proyecto-tipo-link:hover{
  color: #555555;
  background-color: #EEEEEE;
  border-color: #EEEEEE ;
}

.proyecto-tipo-link span{
  color:#888888; 
  font-size: 12px;
  margin-left: 10px;

}


.proyecto-item{
  margin-bottom: 80px;
}



.proyecto-item-imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

}

.img-proyecto{
  width: 100%;
  height: auto;
  align-items: center;
  filter: grayscale(0%);
  transform: scale(1);
  transition: all 0.5s;

}

.img-proyecto:hover{
  /* filter: grayscale(100%); */
  transform: scale(1.05); 
}

.proyecto-item-texto h4{
  margin-bottom: 10px;
  font-weight: 400;
}

.mas-proyectos{
  display: flex;
  justify-content: center;
}

.mas-proyectos i{
  margin-left: 10px;
}

.proyecto-display{
  display: none;
}

/* Clientes */

.equipo{
  margin-bottom: 250px; 
}

/* Clientes */

.clientes{
  margin-bottom: 250px; 
}

.clientes h2{
  margin-bottom: 50px; 
  text-align: center;
}

.lista-clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-clientes img{
  width: 130px;
  height: 100%;
  vertical-align: middle;
  margin: 20px;
}

/* Pregunta */

.pregunta{
  margin-bottom: 200px; 
  background-color: #111111;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

.pregunta-container h3{
  text-align: right;
}

/* Footer */

footer{
  background-color: #0b0b0b;
}

.footer-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:end;
}

.footer-texto{
  margin-bottom: 50px;
}

.footer-texto h4{
  font-size: 50px;
  font-weight: 700;
}

.footer-botones{
  margin-bottom: 50px;
}

.footer-botones button{
  margin-bottom: 20px;
}

.footer-redes{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.footer-redes a{
  color: #888888;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
}

/* TEXTO GRANDE */
.texto-grande{
margin-bottom: 150px;
position: relative;
overflow: hidden;
white-space: nowrap;

}
.texto-grande-izq{
  opacity: 0.2; 
  font-style: italic;
  font-size: 55px;
  font-weight: 700;
}

.texto-grande-der{
  opacity: 0.2;
  font-style: italic;
  font-size: 55px;
  font-weight: 700;
}



